:root {
  /* === Avatar Sizes === */
  --size-avatar-small: 32px;
  --size-avatar-medium: 40px;
  --size-avatar-big: 64px;

  /* === Border Radius === */
  --size-border-radius-small: 6px;
  --size-border-radius-medium: 10px;
  --size-border-radius-big: 12px;
  --size-border-radius-large: 16px;

  /* === Cell Sizes === */
  --size-cell-min-height: 44px;
  --size-cell-h-margin: 16px;
  --size-cell-v-margin: 12px;
  --size-cell-h-padding: 16px;
  --size-cell-v-padding: 8px;

  /* === Separator === */
  --size-separator-height: 1px;
}

/* === iOS & macOS High-DPI tweak === */
.is-ios,
.is-mac-os {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    --size-separator-height: 0.33px;
  }
}

/* === Material Design Tweaks === */
.is-material {
  --size-cell-h-margin: 0px;

  --size-border-radius-small: 0px;
  --size-border-radius-medium: 2px;
  --size-border-radius-big: 4px;

  --size-cell-min-height: 48px;
}

/* === Web-specific Overrides === */
.is-exact-web,
.is-exact-weba {
  --size-avatar-big: 68px;
}
